body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.list {
	width: 700px;
	margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
}



.list__item {
	display: inline-block;
	margin-right: 70px;
    text-decoration: none;
}


.main-button {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    background-color:#04959e;
    text-align: center;
}

.main-button-title {
    color: white;
}

.main-image {
    background-color: #00BDC9 ;
    text-align: center;
    padding: 50px   ;
}


.footer-title {
    text-align: center;
}


.main-text {
    margin: 0 auto;
    width: 856px;
    text-align: center;
}

.main-text-highlight {
    color:#04959E;
    ;
}

.main-text-p {
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    text-align: left;

}

.main-list {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

.footer-border {
    display: block;
    border: 1px solid #000;
    margin-top: 80px;
}